.task {
  border:1px  ;
  border-radius: 10px;
  padding-left: 7px;
  margin-top: 5px;
  box-shadow: -5px -3px 10px rgba(0,0,0,0.5);
    &.done{
      text-decoration: line-through;
      opacity: 0.3;
    }
  .inside_block{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow-x:hidden;
    word-break: break-all;

  }
}
