$blue-color: rgb(19, 121, 222);

.Navigation {
  background-color: $blue-color;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  &__Button {
    color: white;
    text-decoration: none;
    &.active{
      border: 1px solid white ;
      border-radius: 20px;
      padding: 5px;
    }
  }
}
