.container {
  width: 300px;
  margin: auto;

  &__header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  &__input{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 30px;

  }
  //&__input {
  //  width: 80%;
  //}

  &__button {

  }
}

.todos {
}
